/* Handcrafted Haven - Global Styles */

:root {
  --terracotta: #E2725B;
  --cream: #FFFDD0;
  --sage: #AABA99;
  --brown: #7d472a;
  --font-serif: 'Playfair Display', Georgia, serif;
  --font-sans: 'Lato', system-ui, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  color: var(--brown);
  background-color: var(--cream);
  margin-left: 160px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

a {
  color: var(--terracotta);
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ****************************** */
/* Navigation */
/* ****************************** */
.navigation {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 20px;
  border-right: 1px solid var(--terracotta);
  box-shadow: 3px 10px 10px black;
  text-align: center;
  line-height: 2.75rem;
  font-weight: 600;
}



/* ****************************** */
/* HERO CONTAINER */
/* ****************************** */

.hero-container {
  position: relative;
  width: 100%;
  /* aspect-ratio: 16 / 9; */

  & h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    background-color: var(--cream);
    background-color: 0.7;
    padding: 1rem;
    border-radius: 0.5rem;
    transform: translate(-50%, -50%);
  }
  
  & span {
    display: inline-block;
    font-size: smaller;
    color: var(--cream);
  }

  & div a {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: var(--cream);
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

.hero-image {
  max-width: 100%;
  max-height: 100%;
}

/* ****************************** */
/* Home Page */
/* ****************************** */
.blank-text-area {
  text-align: center;
  padding: 2rem;
  margin: 2rem;

  & p {
    margin: 2rem;
  }
}



/* ****************************** */
/* Footer  */
/* ****************************** */

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--sage);
  border-top: 4px solid var(--terracotta);
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */

  & div p {
    font-weight: 700;
  }

  & div a {
    /* background-color: var(--cream); */
    border-radius: 0.5rem;
    /* opacity: 0.5; */
    padding: 0.12rem;
    max-height: 1.6rem;
    text-align: center;
    color: var(--cream);
  }
}

.logo {
  background-color: var(--cream);
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
}


/* ****************************** */
/* MEDIA QUERY for responsive flow  */
/* ****************************** */

@media screen and (max-width: 750px) { 


/* ****************************** */
/* MEDIA Footer  */
/* ****************************** */
  footer {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 0.5rem;

    & div {
      padding: 0.5rem;
    }
  }



}







